In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Look at APPLICATION_TYPE value counts for binning
app_cts = application_df['APPLICATION_TYPE'].value_counts()

In [4]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_cts[app_cts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
class_cts = application_df['CLASSIFICATION'].value_counts()

In [6]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_cts[class_cts < 1800].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [7]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\EVE\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

C:\Users\EVE\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 300
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 3

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 300)               13200

 dense_9 (Dense)             (None, 30)                9030

 dense_10 (Dense)            (None, 30)                930

 dense_11 (Dense)            (None, 1)                 31

=================================================================
Total params: 23,191
Trainable params: 23,191
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints_Optimization/",exist_ok=True)
checkpoint_path = "checkpoints_Optimization/weights.{epoch:02d}.hdf5"

# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=5)

# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/100
804/804 [==============================] - 1s 684us/step - loss: 0.6924 - accuracy: 0.5319
Epoch 2/100
804/804 [==============================] - 1s 667us/step - loss: 0.6915 - accuracy: 0.5335
Epoch 3/100
804/804 [==============================] - 1s 682us/step - loss: 0.6913 - accuracy: 0.5310
Epoch 4/100
804/804 [==============================] - 1s 646us/step - loss: 0.6917 - accuracy: 0.5312
Epoch 5/100
804/804 [==============================] - 1s 635us/step - loss: 0.6915 - accuracy: 0.5321
Epoch 6/100
804/804 [==============================] - 1s 631us/step - loss: 0.6916 - accuracy: 0.5328
Epoch 7/100
804/804 [==============================] - 1s 627us/step - loss: 0.6913 - accuracy: 0.5326
Epoch 8/100
804/804 [==============================] - 1s 654us/step - loss: 0.6916 - accuracy: 0.5304
Epoch 9/100
804/804 [==============================] - 1s 647us/step - loss: 0.6913 - accuracy: 0.5328
Epoch 10/100
804/804 [==============================] - 1s 655us/step - loss: 0.6919 - accuracy: 0.5307
Epoch 11/100
804/804 [==============================] - 1s 646us/step - loss: 0.6917 - accuracy: 0.5327
Epoch 12/100
804/804 [==============================] - 1s 658us/step - loss: 0.6920 - accuracy: 0.5298
Epoch 13/100
804/804 [==============================] - 1s 637us/step - loss: 0.6918 - accuracy: 0.5309
Epoch 14/100
804/804 [==============================] - 1s 655us/step - loss: 0.6917 - accuracy: 0.5325
Epoch 15/100
804/804 [==============================] - 1s 656us/step - loss: 0.6915 - accuracy: 0.5311
Epoch 16/100
804/804 [==============================] - 1s 647us/step - loss: 0.6914 - accuracy: 0.5315
Epoch 17/100
804/804 [==============================] - 1s 651us/step - loss: 0.6916 - accuracy: 0.5321
Epoch 18/100
804/804 [==============================] - 1s 647us/step - loss: 0.6917 - accuracy: 0.5327
Epoch 19/100
804/804 [==============================] - 1s 659us/step - loss: 0.6917 - accuracy: 0.5307
Epoch 20/100
804/804 [==============================] - 1s 646us/step - loss: 0.6915 - accuracy: 0.5335
Epoch 21/100
804/804 [==============================] - 1s 651us/step - loss: 0.6915 - accuracy: 0.5314
Epoch 22/100
804/804 [==============================] - 1s 650us/step - loss: 0.6917 - accuracy: 0.5316
Epoch 23/100
804/804 [==============================] - 1s 652us/step - loss: 0.6917 - accuracy: 0.5319
Epoch 24/100
804/804 [==============================] - 1s 651us/step - loss: 0.6915 - accuracy: 0.5311
Epoch 25/100
804/804 [==============================] - 1s 657us/step - loss: 0.6916 - accuracy: 0.5328
Epoch 26/100
804/804 [==============================] - 1s 643us/step - loss: 0.6914 - accuracy: 0.5321
Epoch 27/100
804/804 [==============================] - 1s 652us/step - loss: 0.6918 - accuracy: 0.5307
Epoch 28/100
804/804 [==============================] - 1s 649us/step - loss: 0.6917 - accuracy: 0.5290
Epoch 29/100
804/804 [==============================] - 1s 644us/step - loss: 0.6915 - accuracy: 0.5335
Epoch 30/100
804/804 [==============================] - 1s 635us/step - loss: 0.6916 - accuracy: 0.5312
Epoch 31/100
804/804 [==============================] - 1s 649us/step - loss: 0.6919 - accuracy: 0.5303
Epoch 32/100
804/804 [==============================] - 1s 645us/step - loss: 0.6915 - accuracy: 0.5330
Epoch 33/100
804/804 [==============================] - 1s 654us/step - loss: 0.6917 - accuracy: 0.5325
Epoch 34/100
804/804 [==============================] - 1s 644us/step - loss: 0.6915 - accuracy: 0.5328
Epoch 35/100
804/804 [==============================] - 1s 647us/step - loss: 0.6915 - accuracy: 0.5303
Epoch 36/100
804/804 [==============================] - 1s 627us/step - loss: 0.6915 - accuracy: 0.5304
Epoch 37/100
804/804 [==============================] - 1s 636us/step - loss: 0.6914 - accuracy: 0.5306
Epoch 38/100
804/804 [==============================] - 1s 658us/step - loss: 0.6914 - accuracy: 0.5295
Epoch 39/100
804/804 [==============================] - 1s 638us/step - loss: 0.6919 - accuracy: 0.5315
Epoch 40/100
804/804 [==============================] - 1s 649us/step - loss: 0.6917 - accuracy: 0.5287
Epoch 41/100
804/804 [==============================] - 1s 674us/step - loss: 0.6915 - accuracy: 0.5314
Epoch 42/100
804/804 [==============================] - 1s 681us/step - loss: 0.6917 - accuracy: 0.5322
Epoch 43/100
804/804 [==============================] - 1s 676us/step - loss: 0.6916 - accuracy: 0.5315
Epoch 44/100
804/804 [==============================] - 1s 693us/step - loss: 0.6917 - accuracy: 0.5298
Epoch 45/100
804/804 [==============================] - 1s 665us/step - loss: 0.6913 - accuracy: 0.5307
Epoch 46/100
804/804 [==============================] - 1s 636us/step - loss: 0.6916 - accuracy: 0.5280
Epoch 47/100
804/804 [==============================] - 0s 618us/step - loss: 0.6916 - accuracy: 0.5308
Epoch 48/100
804/804 [==============================] - 1s 631us/step - loss: 0.6917 - accuracy: 0.5314
Epoch 49/100
804/804 [==============================] - 1s 647us/step - loss: 0.6914 - accuracy: 0.5300
Epoch 50/100
804/804 [==============================] - 0s 618us/step - loss: 0.6920 - accuracy: 0.5318
Epoch 51/100
804/804 [==============================] - 0s 609us/step - loss: 0.6917 - accuracy: 0.5317
Epoch 52/100
804/804 [==============================] - 1s 649us/step - loss: 0.6914 - accuracy: 0.5287
Epoch 53/100
804/804 [==============================] - 1s 649us/step - loss: 0.6916 - accuracy: 0.5331
Epoch 54/100
804/804 [==============================] - 1s 648us/step - loss: 0.6914 - accuracy: 0.5314
Epoch 55/100
804/804 [==============================] - 1s 637us/step - loss: 0.6916 - accuracy: 0.5318
Epoch 56/100
804/804 [==============================] - 1s 627us/step - loss: 0.6915 - accuracy: 0.5327
Epoch 57/100
804/804 [==============================] - 1s 642us/step - loss: 0.6919 - accuracy: 0.5280
Epoch 58/100
804/804 [==============================] - 1s 630us/step - loss: 0.6917 - accuracy: 0.5312
Epoch 59/100
804/804 [==============================] - 1s 627us/step - loss: 0.6917 - accuracy: 0.5300
Epoch 60/100
804/804 [==============================] - 1s 634us/step - loss: 0.6915 - accuracy: 0.5291
Epoch 61/100
804/804 [==============================] - 1s 646us/step - loss: 0.6917 - accuracy: 0.5322
Epoch 62/100
804/804 [==============================] - 1s 644us/step - loss: 0.6918 - accuracy: 0.5326
Epoch 63/100
804/804 [==============================] - 1s 635us/step - loss: 0.6917 - accuracy: 0.5335
Epoch 64/100
804/804 [==============================] - 1s 628us/step - loss: 0.6918 - accuracy: 0.5330
Epoch 65/100
804/804 [==============================] - 1s 639us/step - loss: 0.6915 - accuracy: 0.5318
Epoch 66/100
804/804 [==============================] - 1s 635us/step - loss: 0.6917 - accuracy: 0.5310
Epoch 67/100
804/804 [==============================] - 1s 647us/step - loss: 0.6916 - accuracy: 0.5314
Epoch 68/100
804/804 [==============================] - 1s 692us/step - loss: 0.6918 - accuracy: 0.5305
Epoch 69/100
804/804 [==============================] - 1s 722us/step - loss: 0.6917 - accuracy: 0.5307
Epoch 70/100
804/804 [==============================] - 1s 646us/step - loss: 0.6916 - accuracy: 0.5291
Epoch 71/100
804/804 [==============================] - 1s 651us/step - loss: 0.6917 - accuracy: 0.5311
Epoch 72/100
804/804 [==============================] - 1s 689us/step - loss: 0.6916 - accuracy: 0.5313
Epoch 73/100
804/804 [==============================] - 1s 631us/step - loss: 0.6915 - accuracy: 0.5335
Epoch 74/100
804/804 [==============================] - 1s 662us/step - loss: 0.6919 - accuracy: 0.5283
Epoch 75/100
804/804 [==============================] - 1s 627us/step - loss: 0.6915 - accuracy: 0.5328
Epoch 76/100
804/804 [==============================] - 1s 645us/step - loss: 0.6915 - accuracy: 0.5335
Epoch 77/100
804/804 [==============================] - 1s 696us/step - loss: 0.6916 - accuracy: 0.5322
Epoch 78/100

804/804 [==============================] - 1s 662us/step - loss: 0.6917 - accuracy: 0.5325
Epoch 79/100
804/804 [==============================] - 1s 627us/step - loss: 0.6918 - accuracy: 0.5330
Epoch 80/100
804/804 [==============================] - 1s 627us/step - loss: 0.6915 - accuracy: 0.5304
Epoch 81/100
804/804 [==============================] - 1s 660us/step - loss: 0.6916 - accuracy: 0.5325
Epoch 82/100
804/804 [==============================] - 1s 646us/step - loss: 0.6915 - accuracy: 0.5300
Epoch 83/100
804/804 [==============================] - 1s 682us/step - loss: 0.6920 - accuracy: 0.5287
Epoch 84/100
804/804 [==============================] - 1s 670us/step - loss: 0.6914 - accuracy: 0.5335
Epoch 85/100
804/804 [==============================] - 1s 660us/step - loss: 0.6914 - accuracy: 0.5322
Epoch 86/100
804/804 [==============================] - 1s 653us/step - loss: 0.6918 - accuracy: 0.5294
Epoch 87/100
804/804 [==============================] - 1s 687us/step - loss: 0.6917 - accuracy: 0.5285
Epoch 88/100
804/804 [==============================] - 1s 643us/step - loss: 0.6917 - accuracy: 0.5281
Epoch 89/100
804/804 [==============================] - 1s 640us/step - loss: 0.6915 - accuracy: 0.5313
Epoch 90/100
804/804 [==============================] - 1s 655us/step - loss: 0.6915 - accuracy: 0.5316
Epoch 91/100
804/804 [==============================] - 1s 635us/step - loss: 0.6916 - accuracy: 0.5319
Epoch 92/100
804/804 [==============================] - 1s 621us/step - loss: 0.6915 - accuracy: 0.5295
Epoch 93/100
804/804 [==============================] - 0s 616us/step - loss: 0.6912 - accuracy: 0.5320
Epoch 94/100
804/804 [==============================] - 1s 631us/step - loss: 0.6916 - accuracy: 0.5307
Epoch 95/100
804/804 [==============================] - 1s 640us/step - loss: 0.6916 - accuracy: 0.5324
Epoch 96/100
804/804 [==============================] - 1s 646us/step - loss: 0.6917 - accuracy: 0.5318
Epoch 97/100
804/804 [==============================] - 1s 623us/step - loss: 0.6912 - accuracy: 0.5324
Epoch 98/100
804/804 [==============================] - 1s 652us/step - loss: 0.6914 - accuracy: 0.5313
Epoch 99/100
804/804 [==============================] - 1s 656us/step - loss: 0.6917 - accuracy: 0.5301
Epoch 100/100
804/804 [==============================] - 1s 650us/step - loss: 0.6913 - accuracy: 0.5305

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7146 - accuracy: 0.4381 - 124ms/epoch - 463us/step
Loss: 0.7145911455154419, Accuracy: 0.438134104013443

In [23]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")